@model List<Vidly.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr class="info">
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Subscription</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Vidly.Models.Customer customer in Model)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, new { })</td>
                <td>@customer.MembershipType.name</td>
            </tr>
        }
    </tbody>
</table>